@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Home Page";
}


<header>
    <div class="jumbotron">
  <h1>Welcome to my Blog!</h1>
 </div>
</header>
<section>
    <div class="row">
        @foreach(var blog in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                <img src="@blog.ImageUrl" alt="...">
                <div class="caption">
                    <h3>@blog.Name</h3>
                    <p>@blog.Description</p>
                    <p><a asp-controller="Blog" asp-action="Details" asp-route-id=@blog.Id class="btn btn-primary" role="button">View Blog</a> </p>
                </div>
                </div>
            </div>
        }
       
    </div>
</section>